/* Main header CSS */
.navbar {
  width: 100vw;
  height: 100px;
  padding: 0;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  align-items: center;
  z-index: 999;
}

.inner {
  display: flex;
  height: 100px;
  align-items: center;
}

.logo {
  justify-content: left;
}

.logo-img {
  width: 100px;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.main-nav a {
  margin: 0 30px;
  font-weight: bold;
  color: var(--color-black);
}

.action {
  display: flex;
}

.user-btn {
  padding: 8px 15px;
  margin-right: 50px;
  color: var(--color-white);
  border-radius: 5px;
}

.user-btn span {
  margin-right: 10px;
}

.search-btn,
.cart-btn {
  padding: 5px 12px;
  color: var(--color-white);
  border-radius: 5px;
  margin-right: 10px;
}

/* Main footer CSS */
footer {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  padding: 10px;
}

footer a,
.name-store {
  color: white;
}

.footer-left {
  width: 40%;
  text-align: center;
}

.footer-left img {
  margin: 0 auto;
  width: 60%;
}

.footer-right {
  display: flex;
  width: 60%;
}
